* { 
    box-sizing : border-box ; 
    margin : 0 ; 
    padding : 0 ; 
    font-family : 'Helvetica' ; 
}

body , html {
    height : 100% ; 
    width : 100% ; 
}

#main { 
    height : 100% ; 
    width : 100% ; 
    display : flex ; 
}

#left {
    position : relative ;  
    width : 40% ; 
    height : 100% ; 
}

#right { 
    width : 60% ; 
    height : 100% ; 
    background-color : black ; 
}

#top { 
    height : 50% ; 
    width : 100% ; 
    background-color : cyan ; 
    display : flex ; 
}

#top-left { 
    width : 50% ; 
    height : 100% ; 
    background-color : pink ; 
    background: url(https://plus.unsplash.com/premium_photo-1670512181061-e24282f7ee78?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ; 
    background-size : cover ; 
    background-position : center ; 
}

#top-right { 
    width : 50% ; 
    height : 100% ; 
    background-color : gray ; 
    background : url(https://plus.unsplash.com/premium_photo-1675667381451-be2fc08a122e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ; 
    background-size : cover ; 
    background-position : center ; 
}

#bottom { 
    height : 50% ; 
    width : 100% ; 
    background-color : red ; 
    background : url(https://plus.unsplash.com/premium_photo-1664036937399-9e1b0670825b?q=80&w=2032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ; 
    background-size : cover ; 
    background-position : center ; 
}

#lnav { 
    width : 100% ; 
    display : flex ; 
    padding : 20px 30px ; 
    justify-content : space-between ; 
}

#lnavr a { 
    margin-right : 20px ; 
    text-decoration : none ; 
    font-size : 20px ; 
    font-weight : 700 ; 
    color : black ; 
}

#lnavr i { 
    color : gray ; 
}

#left #textcenter { 
    position : absolute ; 
    left : 50% ; 
    top : 50% ; 
    transform : translate(-50% , -50%) ; 
}

#left #textcenter h1 { 
    font-size : 100px ; 
    font-weight : 700 ; 
}

#left #textcenter p { 
    font-size : 35px ;  
    opacity : 50% ; 
    line-height : 35px ; 
    margin-top : 45px ; 
    margin-bottom : 45px ;  
}

#left #textcenter a { 
    text-decoration : none ; 
    color : black ; 
    font-weight : 700 ; 
    border-bottom : 1px solid black ; 
    padding-bottom : 10px ; 
    font-size : 20px ; 
    opacity : .6 ; 
}

@media (max-width: 500px) { 
    #main { 
        flex-direction : column ; 
    }

    #left { 
        width : 100% ; 
    }


    
    #left #textcenter p {  
        font-size : 19px ; 
        line-height : 17px ; 
        margin-top : 5px ; 
        margin-bottom : 20px ; 
    }

    #left #textcenter a { 
        font-size : 11px ; 
        padding-bottom : 5px ; 
        color : cyan ; 
    }

    #right { 
        width : 100% ; 
    }
}